
    <div class="container">
      <div class="logo">
        <img src="../../assets/img/logo-footer.png" alt="Logo">
    </div>

    <div class="nav">
        <a routerLink="/home" routerLinkActive="active">Inicio</a>
        <a routerLink="/adopta" routerLinkActive="active">Adopta</a>
        <a routerLink="/galeria" routerLinkActive="active">Galería</a>
        <a routerLink="/reporte" routerLinkActive="active">Reportes</a>
        <a routerLink="/about" routerLinkActive="active">Nosotros</a>
    </div>

    <div class="social">
        <a href="https://web.facebook.com/?locale=es_LA&_rdc=1&_rdr" target="_blank"><i class="fa-brands fa-facebook fa-2xl" style="color: #51361f;"></i></a>
        <a href="https://twitter.com/?lang=es" target="_blank"><i class="fa-brands fa-x-twitter fa-2xl" style="color: #452a12;"></i></a>
        <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram fa-2xl" style="color: #452a12;"></i></a>
    </div>

    <div class="footer-text">
        &copy; 2024 PlacoRefugio. Todos los derechos reservados. <br>
        Brindando un hogar, una esperanza y una segunda oportunidad a quienes más lo necesitan.
    </div>
    </div>    
