/* Estilos generales de la navbar */
.navbar {
    background-color: #DEAC80;
    border-bottom: dashed black 2px;
    margin-bottom: 40px;
    box-shadow: 0px 12px 5px rgba(0, 0, 0, 0.1);
}

li {
    margin-right: 20px;
}

/* Estilos de hover solo para la vista de escritorio */
@media (min-width: 992px) {
    .navbar-nav .nav-item:hover {
        transform: scale(1.1);
        border-bottom: solid black 2px; 
    }
}

@media (max-width: 991px) {
    .navbar-nav .nav-item .nav-link:hover {
      transform: scale(1.1); /* Escala ligeramente más pequeña que en desktop */
      color: #000000; /* Cambiar color de texto al hacer hover */
      margin-left: 5vh;
    }
  }

.nav-link {
    cursor: pointer;
}

i {
    margin-right: 5px;
}

img {
    height: 4rem;
}
