<div class="container">
    <h1 id="tituloLogin">Iniciar sesión con teléfono</h1>
    <hr>

    <div id="formulario">
        <div>
            <input type="text" placeholder="Teléfono" [(ngModel)]="phone">
            <br><br>
        </div>

        <div>
            <input [readOnly]="!validado" type="text" placeholder="Código" [(ngModel)]="codigo">
            <br><br>
        </div>

        <div>
            @if (!validado) {
                <button #captcha type="submit" (click)="onSubmit(captcha)">Enviar código</button>
                <br><br>
            }@else {
                <button (click)="confirmarSMS()">Iniciar sesión</button>
            }
        </div>
        <hr>
        <div>
            <p>¿No tienes cuenta? regístrate ahora!</p>
            <button (click)="goToRegistro()">Crear cuenta</button>
        </div>
    </div>

</div>
