<div class="dropdown nav-item item-float">
  <a class="nav-link nav-link dropdown-toggle">
    <i class="fa-solid fa-universal-access fa-xl"></i>
  </a>
  <div class="dropdown-content" [style.fontSize.px]="fontSize">
    <a class="dropdown-item nav-style" (click)="readContent()" [class]="isContrastMode ? 'dark-contrast' : 'light-contrast'" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont">
      Leer texto <i class="fa-solid fa-play fa-lg pl-3"></i>
     </a>
     <a class="navbar-item nav-style" (click)="increaseFontSize()" [class]="isContrastMode ? 'dark-contrast' : 'light-contrast'" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont">
       Aumentar texto <i class="fa-solid fa-plus fa-lg pl-3"></i>
     </a>
     <a class="navbar-item nav-style" (click)="decreaseFontSize()" [class]="isContrastMode ? 'dark-contrast' : 'light-contrast'" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont">
       Decrementar texto <i class="fa-solid fa-minus fa-lg pl-3"></i>
     </a>
     <a class="navbar-item nav-style" (click)="increasePadding()" [class]="isContrastMode ? 'dark-contrast' : 'light-contrast'" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont">
       Aumentar espaciado <i class="fa-solid fa-boxes-stacked fa-lg pl-3"></i>
     </a>
     <a class="navbar-item nav-style" (click)="toggleContrast()" [class]="isContrastMode ? 'dark-contrast' : 'light-contrast'" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont">
       Cambiar contraste <i class="fa-solid fa-droplet fa-lg pl-3"></i>
     </a>
     <a class="navbar-item nav-style" (click)="toggleDyslexicFont()" [class]="isContrastMode ? 'dark-contrast' : 'light-contrast'" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont">
       Tipografia para dislexicos <i class="fa-solid fa-font fa-lg pl-3"></i>
     </a>
  </div>
</div>
<body id="content">

  <div class="modal" id="myModal" *ngIf="showModal" >
    <div class="modal-content" [style.fontSize.px]="fontSize" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont" [class]="isContrastMode ? 'dark-contrast' : ''">
      <span class="close" (click)="closeModal()">&times;</span>
      <h2 [style.fontSize.px]="fontSize" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont" [class]="isContrastMode ? 'dark-contrast' : ''">¿Quieres conocer a tu siguiente amigo?</h2>
      <hr>
      <button (click)="generarQRMascota()" [style.fontSize.px]="fontSize" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont">Sorprendeme</button>
      <h2>{{nombre}}</h2>
      <div *ngIf="qr" class="horizontal-layout">
        <div class="imagenModal" [class]="isContrastMode ? 'dark-contrast' : ''">
          <img [src]="ruta" alt="Mascota" width="400px" height="400px" class="mascota-image">
        </div>
        <div class="mostrarQR" [class]="isContrastMode ? 'dark-contrast' : ''">
          <qrcode [qrdata]="qr" [width]="400" [errorCorrectionLevel]="'Q'"></qrcode>
        </div>
      </div>
    </div>
  </div>
    <!-- QR QR -->
    <main [style.fontSize.px]="fontSize" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont" [class]="isContrastMode ? 'dark-contrast' : ''">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../assets/img/perroygatoInicio.jpg" class="d-block w-100 img-fluid" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../assets/img/perritoInicio.jpg" class="d-block w-100 img-fluid" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../assets/img/gatitoInicio.jpeg" class="d-block w-100 img-fluid" alt="...">
            </div>
          </div>
        </div>      
        <br><br>  
        <!-- Informacion -->
        <section id="informacion" [style.fontSize.px]="fontSize" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont" [class]="isContrastMode ? 'dark-contrast' : ''">
          <div class="infNosotros">
            <h2 [style.fontSize.px]="fontSize" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont" [class]="isContrastMode ? 'dark-contrast' : ''">¡Información que necesitas saber!</h2>
    
            <p [style.fontSize.px]="fontSize" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont" [class]="isContrastMode ? 'dark-contrast' : ''">En PlacoRefugio, nuestra meta es facilitar que animales abandonados y maltratados encuentren hogares amorosos. 
              Creemos que todas las mascotas merecen un lugar donde puedan ser queridas y ser parte de una familia. 
              Nos esforzamos por unir a estos animales con personas comprometidas que estén dispuestas a darles el amor y los 
              cuidados necesarios para una vida plena.</p>
      
            <p [style.fontSize.px]="fontSize" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont" [class]="isContrastMode ? 'dark-contrast' : ''">En PlacoRefugio, no solo facilitamos adopciones, también educamos sobre la responsabilidad de tener mascotas, 
              ofreciendo consejos de cuidado y promoviendo la esterilización y vacunación. Creemos en construir relaciones sólidas 
              entre mascotas y sus familias adoptivas para un futuro lleno de amor y felicidad.</p>
          </div>
          <hr>
          <div class="PasosAdoptar">
            <h2 [style.fontSize.px]="fontSize" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont" [class]="isContrastMode ? 'dark-contrast' : ''">¿¡Como Adoptar!?</h2>
    
            <div class="Como-Adoptar">
              <div class="Adoptar-ImgP" [style.fontSize.px]="fontSize" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont" [class]="isContrastMode ? 'dark-contrast' : ''">
                <img src="../../assets/img/AdoptarPerro1.jpg" alt="Imagen 1">
                <!-- PIPE -->
                <h3 [style.fontSize.px]="fontSize" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont" [class]="isContrastMode ? 'dark-contrast' : ''">{{'elige' | titlecase }} tu mascota</h3>
                <p [style.fontSize.px]="fontSize" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont" [class]="isContrastMode ? 'dark-contrast' : ''">Visita algun refugio o algun centro de animales. 
                  Investiga las razas y tamaños para encontrar la mascota que mejor se adapte a tu estilo de vida. 
                  Conoce a los animales disponibles y decide que mascota te acompañara en tu vida.</p>
              </div>
              <div class="Adoptar-ImgP" [style.fontSize.px]="fontSize" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont" [class]="isContrastMode ? 'dark-contrast' : ''">
                <img src="../../assets/img/Adopcion2.jpg" alt="Imagen 2">
                <!-- PIPE -->
                <h3 [style.fontSize.px]="fontSize" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont" [class]="isContrastMode ? 'dark-contrast' : ''">{{'proceso' | titlecase }} de adopción</h3>
                <p [style.fontSize.px]="fontSize" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont" [class]="isContrastMode ? 'dark-contrast' : ''">Llena  el formulario de solicitud y realiza el pago de una tarifa que cubre los 
                  costos de esterilización, vacunas y microchip. Asiste a una entrevista donde demostrarás tu compromiso y 
                  capacidad para brindar un hogar adecuado a tu nueva mascota.</p>
              </div>
              <div class="Adoptar-ImgP" [style.fontSize.px]="fontSize" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont" [class]="isContrastMode ? 'dark-contrast' : ''">
                <img src="../../assets/img/PerroCasa3.png" alt="Imagen 3">
                <!-- PIPE -->
                <h3 [style.fontSize.px]="fontSize" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont" [class]="isContrastMode ? 'dark-contrast' : ''">{{'llevalo' | titlecase }} a su hogar</h3>
                <p [style.fontSize.px]="fontSize" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont" [class]="isContrastMode ? 'dark-contrast' : ''">Adquiere los suministros básicos como comida, platos, cama y juguetes para recibir a tu nueva mascota.
                  Asegura tu casa para evitar escapes o accidentes y crea un espacio cómodo y seguro donde 
                  tu mascota pueda sentirse feliz y protegida.</p>
              </div>
              <div class="Adoptar-ImgP" [style.fontSize.px]="fontSize" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont" [class]="isContrastMode ? 'dark-contrast' : ''">
                <img src="../../assets/img/PerroFeliz4.jpg" alt="Imagen 4">
                <!-- PIPE -->
                <h3 [style.fontSize.px]="fontSize" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont" [class]="isContrastMode ? 'dark-contrast' : ''">{{'Bienvenido' | uppercase }} a casa</h3>
                <p [style.fontSize.px]="fontSize" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont" [class]="isContrastMode ? 'dark-contrast' : ''">Bríndale atención, ejercicio y entrenamientos adecuados para construir una fuerte conexión y una vida 
                  llena de momentos felices. Disfruta de la compañía 
                  incondicional y el cariño de tu nueva mascota</p>
              </div>
            </div>
          </div>
          <hr>

          <!-- Video de pipe proteccion (PERSONALIZADO)-->

          <h2 [style.fontSize.px]="fontSize" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont" [class]="isContrastMode ? 'dark-contrast' : ''">Lo importante que es adoptar</h2>

          <div class="videoAdopcion">
            <div class="videoWrapper">
              <iframe 
                width="560" 
                height="315" 
                [src]="video | videoAdoptar:'https://www.youtube.com/embed/'" 
                frameborder="0" 
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-inpicture" 
                allowfullscreen>
              </iframe>
            </div>
          </div>

          <hr>
          <h2 [style.fontSize.px]="fontSize" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont" [class]="isContrastMode ? 'dark-contrast' : ''">Elige a tu nuevo mejor amigo</h2>
          <!-- Imagenes de Gato Y Perro -->
          <div class="ImagenesGatoPerro" [style.fontSize.px]="fontSize" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont" [class]="isContrastMode ? 'dark-contrast' : ''">
            <img src="../../assets/img/CaraPerro.png" alt="">
            <img src="../../assets/img/CaraGato.png" alt="">
          </div>
          <!-- Boton para adoptar -->                                      <!-- PIPE -->
          <button class="btnAdoptar" (click)="redirectToAdopta()" ><h1>{{'¡Adopta Ya!' | uppercase }}</h1></button>
          <hr>
          <app-comentario></app-comentario>
        </section>
      </main>
      <br><br>
    </body>