<div class="dropdown nav-item item-float">
    <a class="nav-link nav-link dropdown-toggle">
      <i class="fa-solid fa-universal-access fa-xl"></i>
    </a>
    <div class="dropdown-content" [style.fontSize.px]="fontSize">
      <a class="dropdown-item nav-style" (click)="readContent()" [class]="isContrastMode ? 'dark-contrast' : 'light-contrast'" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont">
        Leer texto <i class="fa-solid fa-play fa-lg pl-3"></i>
       </a>
       <a class="navbar-item nav-style" (click)="increaseFontSize()" [class]="isContrastMode ? 'dark-contrast' : 'light-contrast'" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont">
         Aumentar texto <i class="fa-solid fa-plus fa-lg pl-3"></i>
       </a>
       <a class="navbar-item nav-style" (click)="decreaseFontSize()" [class]="isContrastMode ? 'dark-contrast' : 'light-contrast'" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont">
         Decrementar texto <i class="fa-solid fa-minus fa-lg pl-3"></i>
       </a>
       <a class="navbar-item nav-style" (click)="increasePadding()" [class]="isContrastMode ? 'dark-contrast' : 'light-contrast'" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont">
         Aumentar espaciado <i class="fa-solid fa-boxes-stacked fa-lg pl-3"></i>
       </a>
       <a class="navbar-item nav-style" (click)="toggleContrast()" [class]="isContrastMode ? 'dark-contrast' : 'light-contrast'" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont">
         Cambiar contraste <i class="fa-solid fa-droplet fa-lg pl-3"></i>
       </a>
       <a class="navbar-item nav-style" (click)="toggleDyslexicFont()" [class]="isContrastMode ? 'dark-contrast' : 'light-contrast'" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont">
         Tipografia para dislexicos <i class="fa-solid fa-font fa-lg pl-3"></i>
       </a>
    </div>
  </div>
<div class="containerGaleria" id="content" [class]="isContrastMode ? 'dark-contrast' :''" [style.fontSize.px]="fontSize" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont">
    <br>
    <h1 class="tituloPagina" [class.dyslexic-font]="isDyslexicFont"> Amigos que recibieron otra oportunidad</h1>
    <hr>
    <div class="galeria">
        <div class="columna">
            <div class="imagenMan" [class]="isContrastMode ? 'dark-contrast' :''" [style.padding.px]="paddingSize">
                <img src="../../assets/img/rescatado1.jpg" alt="">
                <div class="pieImagenMan">Plutarco tuvo una nueva familia el 15 de enero del 2024</div>
                <br>
            </div>
            <div class="imagenMan" [class]="isContrastMode ? 'dark-contrast' :''" [style.padding.px]="paddingSize">
                <img src="../../assets/img/rescatado2.jpg" alt="">
                <div class="pieImagenMan">Konan Big fue recibido por Martin el 10 de abril del 2024</div>
            </div>  
            <div class="imagenMan" [class]="isContrastMode ? 'dark-contrast' :''" [style.padding.px]="paddingSize">
                <img src="../../assets/img/rescatado3.jpeg" alt="">
                <div class="pieImagenMan">Chabo fue recibido por Juan el 10 de julio del 2023</div>
            </div>
        </div>

        <div class="columna">
            <div class="imagenMan" [class]="isContrastMode ? 'dark-contrast' :''" [style.padding.px]="paddingSize">
                <img src="../../assets/img/rescatado5.jpeg" alt="">
                <div class="pieImagenMan">Ron Damon consiguio una nueva familia con Martina el 20 de febrero del 2024</div>
            </div>
            <div class="imagenMan" [class]="isContrastMode ? 'dark-contrast' :''" [style.padding.px]="paddingSize">
                <img src="../../assets/img/rescatado6.jpg" alt="">
                <div class="pieImagenMan">Witsi tiene familia desde el 28 de diciembre del 2023</div>
            </div>
            <div class="imagenMan" [class]="isContrastMode ? 'dark-contrast' :''" [style.padding.px]="paddingSize">
                <img src="../../assets/img/rescatado7.jpg" alt="">
                <div class="pieImagenMan">Candelario fue acogido por la familia Reyes el 3 de mayo del 2024</div>
            </div>
        </div>

        <div class="columna">
            
            <div class="imagenMan" [class]="isContrastMode ? 'dark-contrast' :''" [style.padding.px]="paddingSize">
                <img src="../../assets/img/rescatado8.jpg" alt="">
                <div class="pieImagenMan">Aimep2 ya es amiga de Consuelo desde el 12 de septiembre del 2023</div>
            </div>
            <div class="imagenMan" [class]="isContrastMode ? 'dark-contrast' :''" [style.padding.px]="paddingSize">
                <img src="../../assets/img/rescatado9.jpg" alt="">
                <div class="pieImagenMan">Hercules pertenece a la familia Diaz desde el 2 de agosto del 2023</div>
            </div>
            <div class="imagenMan" [class]="isContrastMode ? 'dark-contrast' :''" [style.padding.px]="paddingSize">
                <img src="../../assets/img/rescatados4.jpeg" alt="">
                <div class="pieImagenMan">Pepe y Pepa ahora son mejores amigos de Alicia y Sebastian desde el 4 de julio del 2023</div>
            </div>
        </div>

        <div class="columna">
            <div class="imagenMan" [class]="isContrastMode ? 'dark-contrast' :''" [style.padding.px]="paddingSize">
                <img src="../../assets/img/rescatado10.png" alt="">
                <div class="pieImagenMan">Mittens fue adoptado por Juan el 18 de marzo del 2024</div>
            </div>
            <div class="imagenMan" [class]="isContrastMode ? 'dark-contrast' :''" [style.padding.px]="paddingSize">
                <img src="../../assets/img/rescatado11.jpg" alt="">
                <div class="pieImagenMan">Whiskers fue adoptado por Ana el 5 de enero del 2024</div>
            </div>
            <div class="imagenMan" [class]="isContrastMode ? 'dark-contrast' :''" [style.padding.px]="paddingSize">
                <img src="../../assets/img/rescatado12.jpeg" alt="">
                <div class="pieImagenMan">Buddy fue recibido por Laura el 25 de septiembre del 2023</div>
            </div>
            
        </div>

        <div class="columna">
            <div class="imagenMan" [class]="isContrastMode ? 'dark-contrast' :''" [style.padding.px]="paddingSize">
                <img src="../../assets/img/rescatado13.jpg" alt="">
                <div class="pieImagenMan">Rocky fue recibido por Carlos el 12 de mayo del 2023</div>
            </div>
            <div class="imagenMan" [class]="isContrastMode ? 'dark-contrast' :''" [style.padding.px]="paddingSize">
                <img src="../../assets/img/rescatado14.jpg" alt="">
                <div class="pieImagenMan">Luna fue recibida por María el 14 de febrero del 2024</div>
            </div>
            <div class="imagenMan" [class]="isContrastMode ? 'dark-contrast' :''" [style.padding.px]="paddingSize">
                <img src="../../assets/img/rescatado15.jpg" alt="">
                <div class="pieImagenMan">Milo fue adoptado por Paula el 9 de abril del 2024</div>
            </div>
            
        </div>
    </div>
</div>
<br><br><br><br>
<div class="containerTabla" [class]="isContrastMode ? 'dark-contrast' :''" [style.padding.px]="paddingSize">
    <app-tabla></app-tabla>
    <br><br><br>
    <app-paginator></app-paginator>
</div>
