<div class="dropdown nav-item item-float">
    <a class="nav-link nav-link dropdown-toggle">
      <i class="fa-solid fa-universal-access fa-xl"></i>
    </a>
    <div class="dropdown-content" [style.fontSize.px]="fontSize">
      <a class="dropdown-item nav-style" (click)="readContent()" [class]="isContrastMode ? 'dark-contrast' : 'light-contrast'" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont">
        Leer texto <i class="fa-solid fa-play fa-lg pl-3"></i>
       </a>
       <a class="navbar-item nav-style" (click)="increaseFontSize()" [class]="isContrastMode ? 'dark-contrast' : 'light-contrast'" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont">
         Aumentar texto <i class="fa-solid fa-plus fa-lg pl-3"></i>
       </a>
       <a class="navbar-item nav-style" (click)="decreaseFontSize()" [class]="isContrastMode ? 'dark-contrast' : 'light-contrast'" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont">
         Decrementar texto <i class="fa-solid fa-minus fa-lg pl-3"></i>
       </a>
       <a class="navbar-item nav-style" (click)="increasePadding()" [class]="isContrastMode ? 'dark-contrast' : 'light-contrast'" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont">
         Aumentar espaciado <i class="fa-solid fa-boxes-stacked fa-lg pl-3"></i>
       </a>
       <a class="navbar-item nav-style" (click)="toggleContrast()" [class]="isContrastMode ? 'dark-contrast' : 'light-contrast'" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont">
         Cambiar contraste <i class="fa-solid fa-droplet fa-lg pl-3"></i>
       </a>
       <a class="navbar-item nav-style" (click)="toggleDyslexicFont()" [class]="isContrastMode ? 'dark-contrast' : 'light-contrast'" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont">
         Tipografia para dislexicos <i class="fa-solid fa-font fa-lg pl-3"></i>
       </a>
    </div>
  </div>
<body id="content" >
        <h1 class="tituloPagina">Preguntas Frecuentes</h1>
    <hr class="hrTitulo">
    <div class="apartado">

        <div class="seccion">
            <div class="pregunta">
                <h2 [class]="isContrastMode ? 'dark-contrast' : ''" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont" [style.fontSize.px]="fontSize">¿Cómo puedo adoptar un animal a través de PlacoRefugio?</h2>
                <hr>
            </div>
            <div class="respuesta">
                <p [class]="isContrastMode ? 'dark-contrast' : ''" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont" [style.fontSize.px]="fontSize">En la página de inicio tenemos un botón llamado "Adopta" que nos llevará a un apartado donde tenemos
                    la información de todos nuestros animalitos. Adopta el que más te llame la atención y tendrás que llenar un
                    formulario donde haremos una cita contigo para que puedas cuidar a nuestro querido amigo.</p>
            </div>
        </div>

        <div class="seccion">
            <div class="pregunta">
                <h2 [class]="isContrastMode ? 'dark-contrast' : ''" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont" [style.fontSize.px]="fontSize">¿Qué debo considerar antes de adoptar un animal?</h2>
                <hr>
            </div>
            <div class="respuesta">
                <p [class]="isContrastMode ? 'dark-contrast' : ''" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont" [style.fontSize.px]="fontSize">Antes de adoptar, considera si tienes el tiempo, recursos y compromiso necesario para cuidar de un animal. 
                    También es importante asegurarte de que tu hogar sea adecuado para el tipo de animal que deseas adoptar.</p>
            </div>
        </div>

        <div class="seccion">
            <div class="pregunta">
                <h2 [class]="isContrastMode ? 'dark-contrast' : ''" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont" [style.fontSize.px]="fontSize">¿Cómo puedo ayudar a PlacoRefugio si no puedo adoptar un animal?</h2>
                <hr>
            </div>
            <div class="respuesta">
                <p [class]="isContrastMode ? 'dark-contrast' : ''" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont" [style.fontSize.px]="fontSize">Si no puedes adoptar, hay muchas formas de ayudar: puedes hacer donaciones, ser voluntario en refugios, 
                    promover la adopción compartiendo información en redes sociales o incluso convirtiéndote en hogar de acogida temporal para animales en necesidad.</p>
            </div>
        </div>

        <div class="seccion">
            <div class="pregunta">
                <h2 [class]="isContrastMode ? 'dark-contrast' : ''" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont" [style.fontSize.px]="fontSize">¿Qué tipo de animales están disponibles para adopción en PlacoRefugio?</h2>
                <hr>
            </div>
            <div class="respuesta">
                <p [class]="isContrastMode ? 'dark-contrast' : ''" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont" [style.fontSize.px]="fontSize">En PlacoRefugio encontrarás una variedad de animales. Por ahora, solo tenemos perros y gatos, pero en cuanto tengamos
                    algún animal diferente que necesite un hogar, lo pondremos junto con todos los animalitos en busca de un hogar.</p>
            </div>
        </div>

        <div class="seccion">
            <div class="pregunta">
                <h2 [class]="isContrastMode ? 'dark-contrast' : ''" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont" [style.fontSize.px]="fontSize">¿Cómo aseguran que los animales listados en la página están saludables y bien cuidados?</h2>
                <hr>
            </div>
            <div class="respuesta">
                <p [class]="isContrastMode ? 'dark-contrast' : ''" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont" [style.fontSize.px]="fontSize">Trabajamos con refugios y rescatistas de confianza que proporcionan información detallada sobre la salud y el historial de cada animal. 
                    Además, todos los animales listados han recibido atención veterinaria básica y están vacunados y desparasitados.</p>
            </div>
        </div>

        <div class="seccion">
            <div class="pregunta">
                <h2 [class]="isContrastMode ? 'dark-contrast' : ''" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont" [style.fontSize.px]="fontSize">¿Qué hago si encuentro un animal perdido o herido?</h2>
                <hr>
            </div>
            <div class="respuesta">
                <p [class]="isContrastMode ? 'dark-contrast' : ''" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont" [style.fontSize.px]="fontSize">Si encuentras un animal perdido o herido, contacta a un refugio local o a las autoridades de control de 
                    animales. PlacoRefugio también tiene recursos y contactos para ayudarte en estas situaciones, así que no dudes en buscarnos para obtener orientación.</p>
            </div>
        </div>

        <div class="seccion">
            <div class="pregunta">
                <h2 [class]="isContrastMode ? 'dark-contrast' : ''" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont" [style.fontSize.px]="fontSize">¿Puedo devolver un animal si no puedo seguir cuidándolo después de adoptarlo?</h2>
                <hr>
            </div>
            <div class="respuesta">
                <p [class]="isContrastMode ? 'dark-contrast' : ''" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont" [style.fontSize.px]="fontSize">La mayoría de los refugios tienen políticas que permiten la devolución de animales adoptados si surgen 
                    problemas. Es importante contactar al refugio o rescatista donde adoptaste al animal para discutir la 
                    situación y encontrar una solución adecuada.</p>
            </div>
        </div>

        <div class="seccion">
            <div class="pregunta">
                <h2 [class]="isContrastMode ? 'dark-contrast' : ''" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont" [style.fontSize.px]="fontSize">¿Cómo puedo preparar mi hogar para la llegada de un nuevo animal?</h2>
                <hr>
            </div>
            <div class="respuesta">
                <p [class]="isContrastMode ? 'dark-contrast' : ''" [style.padding.px]="paddingSize" [class.dyslexic-font]="isDyslexicFont" [style.fontSize.px]="fontSize">Antes de traer a casa a tu nuevo amigo, asegúrate de tener todos los suministros necesarios, 
                    como comida, agua, cama, juguetes y artículos de aseo. También es importante crear un espacio seguro 
                    y cómodo para el animal y asegurarte de que tu hogar esté libre de peligros potenciales.</p>
            </div>
        </div>
    </div>
</body>